doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 
        nav.navbar 
            a(href="/") Home 
            a(href="/contact") Contact 
        main 
            h1.title Добавить контакс
            form(action="/add-contact", method="post")
                p.desc Имя участника
                input(type="text", name="name")
                hr
                p.desc Возраст участника
                input(type="text", name="age")
                hr
                p.desc Описание участника
                input(type="text", name="desc")
                input(type="submit", value="Добавить участника")